<div class="footer">
  <ul class="list-unstyled">
    <li>
      <a href="#!"><i class="fab fa-twitter social-btn"></i></a>  
      <a href="#!"><i class="fab fa-instagram social-btn"></i></a>  
      <a href="#!"><i class="fab fa-facebook-f social-btn"></i></a>  
      <a href="https://github.com/vuviegas/old_but_gold_cars" target="_blanck"><i class="fab fa-github social-btn"></i></a>
    </li>
    <li>Copyright &copy; Old But Gold 2020</li>
  </ul>

</div>
