.cards-home {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  justify-content: center;
  grid-column-gap: 60px;
  grid-row-gap: 30px;
  .card-home {
    height: 410px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    width: 20rem;
    img {
      width:  100%;
      height: 60%;
      object-fit: cover;
    }
  }
}

.cards-index {
  display: grid;
  grid-template-columns: 450px 450px 450px;
  justify-content: center;
  grid-column-gap: 30px;
  grid-row-gap: 15px;
  .card-product {
    overflow: hidden;
    height: 200px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    width: 450px;
    margin-top: 10px;
  }
}

.card-product img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.card-product {
  h2 {
    font-size: 27px;
    font-weight: bold;
    margin:0;
  }
  h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
  }
  h4 {
    font-size: 20px;
    font-weight: light;
    color: grey;
    margin: 10px 0;
  }
  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
}

.card-product-infos {
  padding: 5px;
  width: 130px;
  position: relative;
}

.card-car {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 20px;
}

.card-car {
  img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  }
}

.card-car {
  h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  }
}

.card-car {
  p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  }
}

.card-car {
  .card-car-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  }
}

.card-car-infos {
  .card-car-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
  }
}

.picture-car-index {
  margin-right: 15px;
}

.default-car {
  opacity: 0.4;
}

i {
  color: #f0ab2a;
}

.modal-dialog2 {
  position: relative;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-owner {
  background-color: white;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  height: 150px;
  width: 90%;
  margin: 20px auto;
  border-radius: 3px;
  border-right: 7px solid rgba(16, 249, 187, 0.5);
  align-items: center;
  .card-owner-image {
    margin: 10px 10px;
    flex: 1;
  }
  .card-owner-infos {
    flex: 2;
    h3, h4 {
      margin: 0;
    }
    p {
      margin: 0;
      padding: 5px 0;
    }
  }
  .card-owner-price {
    flex: 1;
    padding-left: 60px;
  }
}

.inactive {
  border-right: 7px solid grey;
  background-color: lightgrey;
  color: white;
  box-shadow: none;
  .card-owner-image img {
    opacity: 0.3;
  }
}

.bought {
  border-right: 7px solid blue;
}

.picture-car-owner {
  height: 130px;
  width: 200px;
  object-fit: cover;
}

#card-negotiation {
  width: 400px;
}

.text-description {
  width: 405px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
