.green-input {
  input {
    background-color: #83c5be;
    color: white;
    border-radius: 10px;
    padding: 3px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    font-weight: light;
    &:hover {
      text-decoration: none;
      background-color: #9ed1cc;
      color: white;
    }
  }
}
