.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 20px;
    color: grey;
  }
  p {
    font-size: 15px;
  }
}
