.list-inline {
  list-style: none;
  padding-left: 0px;
  margin: 20px auto;
}
.list-inline > li {
  display: inline-block;
  padding: 10px ;
  margin: 5px 0 0 10px;
  text-align: right;

}

.social-btn{
  color: #9ed1cc;
  font-size: 27px;
}
