<div class="modal-dialog2 mt-5">
    <div id="card-negotiation" class="card">
        <div class="text-right cross"> <i class="fa fa-times"></i> </div>
        <div class="card-body text-center">
            <img src="https://img.icons8.com/bubbles/200/000000/trophy.png">
            <h4>PARABÉNS!</h4>
            <br>
            <p>Sua solicitação foi encaminhada ao proprietário do veículo. Logo ele entrará em contato com você!</p>
            <br>
            <%= link_to root_path, :class => "btn btn-flat" do %>ok<% end %>
        </div>
    </div>
</div>
